 <!DOCTYPE html>
    <html lang="en-us">
    <head>
      <meta charset="utf-8">
      <title>Python Url Shortener</title>
      <style>
        form {
          width: 420px;
        }

        div {
          margin-bottom: 20px;
        }

        label {
          display: inline-block;
          width: 240px;
          text-align: right;
          padding-right: 10px;
        }

        button, input {
          float: right;
        }
      </style>
    </head>
    <body>
      <form method="post" action="{{ url_for('hello') }}">
        <div>
          <label for="longUrl">Enter URL to Shorten</label>
          <input name="longUrl" id="longUrl" value="">
        </div>
        <div>
          <button>Submit</button>
        </div>
      </form>
    </body>
  </html>